<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/relationMap.css" rel="stylesheet">
    <!--?    矢量图标-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/css/all.min.css">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!--?页面布局-->
<!--?
    1、引入G6进行关系图相关可视化
    2、引入Echarts进行图静态分析数据可视化
-->
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-4.2.7/dist/g6.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.1.1/dist/echarts.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <!--?            侧边栏：1.导航栏 2.人物关系复杂网络静态拓扑分析-->
        <div class="col-md-6 side-bar collapse in overlay" id="sideBar">
            <!--?              侧标栏导航栏-->
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand" style="color: white">{{ name }}</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/">主页</a></li>
                            <li><a href="/more">查看更多</a></li>
                            <li><a href="https://github.com/Yuasin/GP">Github</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!--?              各类信息面板-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-target="#accordion">
                            人物出现频次
                        </a>
                    </h3>
                </div>
                <div id="accordion" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="frequency"
                             style="width: 850px;height:500px;margin-bottom: -50px; padding-right: 20px"></div>
                        <div style="text-align: center">
                            <a>环形图只展示人物出现频次排名前20的人物</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-target="#accordion2">
                            网络密度
                        </a>
                    </h3>
                </div>
                <div id="accordion2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="density" style="width: 800px;height:500px;margin-bottom: -200px"></div>
                        <div style="text-align: center">
                            <a>网络密度反应网络中实际连边数与可能连边数的比值</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-target="#accordion3">
                            中心性集合
                        </a>
                    </h3>
                </div>
                <div id="accordion3" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="centrality" style="width: 800px;height:500px;margin-bottom: 0px"></div>
                        <div style="text-align: left; font-size: 5px">
                            <a>点度中心性，节点的度数中心性越高，意味着和该节点有关系的其他节点就越多</a>
                            <p></p>
                            <a>介数中心性，即指一个节点在其他任意两点间最短路径上的个数,数值越高则桥梁性越强</a>
                            <p></p>
                            <a>接近中心性，计算一个节点到其他所有的节点的平均最短距离，这个距离越小节点周围的紧密程度越高，接近中心性也就越高</a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-target="#accordiond">
                            点度中心性
                        </a>
                    </h3>
                </div>
                <div id="accordiond" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="degree" style="width: 800px;height:500px;margin-bottom: 0px"></div>
                        <div style="text-align: left; font-size: 5px">

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-target="#accordionb">
                            介数中心性
                        </a>
                    </h3>
                </div>
                <div id="accordionb" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="between" style="width: 800px;height:500px;margin-bottom: 0px"></div>
                        <div style="text-align: left; font-size: 5px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-target="#accordionc">
                            接近中心性
                        </a>
                    </h3>
                </div>
                <div id="accordionc" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="closeness" style="width: 800px;height:500px;margin-bottom: 0px"></div>
                        <div style="text-align: left; font-size: 5px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-target="#accordion4">
                            聚类系数
                        </a>
                    </h3>
                </div>
                <div id="accordion4" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="cluster" style="width: 800px;height:500px;margin-bottom: 0px"></div>
                        <div style="text-align: center; font-size: 5px">
                            <a>聚类系数为节点的邻接节点实际边数和总的可能边数的比值，数值越大邻接节点聚集程度越高</a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-target="#accordion5">
                            平均聚类系数
                        </a>
                    </h3>
                </div>
                <div id="accordion5" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="average-cluster" style="width: 800px;height:500px;margin-bottom: -200px"></div>
                        <div style="text-align: center">
                            <a>平均聚类系数反应网络中节点的聚集程度</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-target="#accordion6">
                            路径相关
                        </a>
                    </h3>
                </div>
                <div id="accordion6" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="path" style="width: 800px;height:500px;margin-bottom: 0px"></div>
                        <div style="text-align: center;">
                            <a>最短路径统计为每两个节点间最短路径的距离数量统计</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--?            网络栏：1.人物关系网络 2.网络关系布局选项、聚类选项、交互模式选择（查看相连结点）、时间轴选择-->
        <div class="col-md-6" style="padding-left: 0">
            <button type="button" class="btn btn-primary hamburger is-closed animated fadeInLeft"
                    data-toggle="offcanvas">
                <span class="fas fa-align-left"></span>
            </button>
            <!--?            关系图网络容器 mountNode-->
            <div id="mountNode">
                <!--?                控制面板容器-->
                <div class="panel-body control-panel" id="control">
                    <div class="form-group" style="text-align: center">
                        <label for="namelist">层次聚类数量</label>
                        <input type=text size=5 name=clusterNum>
                        <p class="help-block" style="font-size: 3px">聚类数量在人物数量十分之一以内可视化效果较好</p>
                    </div>
                    <button class="btn btn-primary btn-block" id="hierarchy">层次聚类展示</button>
                    <button class="btn btn-primary btn-block" id="showhierarchy">切换层次聚类布局</button>
                    <p></p>
                    <button class="btn btn-info btn-block" id="louvain">louvain聚类</button>
                    <button class="btn btn-info btn-block" id="findpath">查看最短路径</button>
                    <p></p>

                    <div style="text-align: center; margin-top: 15px; margin-bottom: 15px">
                        <label for="mode">交互模式选择</label>
                        <select id="selector" name="mode">
                            <option value="default">全交互模式</option>
                            <option value="viewMode">阅览模式</option>
                            <option value="relaMode">邻接节点查看模式</option>
                            <option value="comboMode">层次聚类交互模式</option>
                            <option value="fisheyeMode">鱼眼探索模式</option>
                        </select>
                    </div>

                    <button class="btn btn-danger btn-block" id="restore">还原</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--? 控制台信息-->
<script>
    console.log(G6.Global.version);
</script>


<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

</body>

<!--? 内部拆分js并引入
    1、引入路径查找js，函数findPath(graph,data)
    2、引入侧标栏消失功能
-->
<script src="./static/findPath.js"></script>
<script src="./static/sidebar.js"></script>
<script src="./static/analyseEchart.js"></script>
<script>
    //plugins插件
    const toolbar = new G6.ToolBar({
        position: {x: 50, y: 10},
    });

    const tooltip = new G6.Tooltip({
        getContent(e) {
            const outDiv = document.createElement('div');
            outDiv.style.width = '180px';
            outDiv.style.color = '#444';
            outDiv.innerHTML ='<h4 style="text-align: left">' + e.item.getModel().label + '</h4> ' +
                                '<ul style="text-align: left; padding-left: 15px"> ' +
                                '<li>出现次数: '+ e.item.getModel().times +'</li> ' +
                                '<li>相关人物数量: '+ graph.getNodeDegree(e.item.getModel().id,'in') +'</li>' +
                                '</ul>'
            return outDiv
        },
        itemTypes: ['node']

    })

    const {louvain} = G6.Algorithm;

    // 获取面板中按钮
    const louvainbutton = document.getElementById('louvain')
    const buttonFindPath = document.getElementById('findpath')
    const hierarchybutton = document.getElementById('hierarchy')
    const showhierarchybutton = document.getElementById('showhierarchy')
    const restorebutton = document.getElementById('restore')


    const subjectColors = [
        '#5F95FF', // blue
        '#61DDAA',
        '#65789B',
        '#F6BD16',
        '#7262FD',
        '#78D3F8',
        '#9661BC',
        '#F6903D',
        '#008685',
        '#F08BB4',
    ];
    const colorSets = G6.Util.getColorSetsBySubjectColors(subjectColors, '#fff', 'default', '#777');

    const graph = new G6.Graph({
        container: 'mountNode',
        width: 2000,
        height: 1200,
        // linkCenter: true,
        fitView: true,
        fitViewPadding: 50,
        minZoom: 0.00000001,
        // plugins: [tooltip],
        modes: {
            default: ['click-select', 'drag-canvas', 'zoom-canvas', 'drag-node', 'activate-relations',
                {
                    type: 'drag-combo',
                    onlyChangeComboSize: true,
                },
                // {
                //     type: 'tooltip',
                //     formatText(model) {
                //         HTML = '<h4 style="text-align: left">' + model.label + '</h4> ' +
                //                 '<ul style="text-align: left; padding-left: 5px"> ' +
                //                 '<li>出现次数: '+ model.times +'</li> ' +
                //                 '<li>相关人物数量: '+ graph.getNodeDegree(model.id,'in') +'</li>' +
                //                 '</ul>'
                //         return HTML;
                //     },
                //     offset: 10,
                // }
            ], // 允许拖拽画布、放缩画布、拖拽节点
            relaMode: ['drag-canvas', 'zoom-canvas', {
                type: 'activate-relations',
                trigger: 'click'
            }],
            viewMode: ['drag-canvas', 'zoom-canvas'],
            fisheyeMode: ['drag-canvas', 'zoom-canvas'],
            comboMode: ['drag-canvas', 'zoom-canvas', {
                type: 'drag-combo',
                onlyChangeComboSize: true,
            }, {
                type: 'collapse-expand-combo',
                trigger: 'dblclick',
                relayout: false, // 收缩展开后，不重新布局
            },
            ],
        },
        enabledStack: true,
        plugins: [toolbar, tooltip],
        // groupByTypes: false,
        defaultCombo: {
            type: 'rect',
            padding: 10,
            // 其他配置
        },
        defaultNode: {
            //  结点标签属性
            labelCfg: {
                position: 'bottom',
                offset: 3,
                style: {
                    fontSize: 6
                },
            }
        },
        defaultEdge: {
            style: {
                strokeOpacity: 0.5,
                stroke: '#eeeeee',
                lineWidth: 1,
            },
        },
        layout: {
            type: 'fruchterman',
            center: [200, 200], // 可选，默认为图的中心
            gravity: 0.01, // 可选
            speed: 2, // 可选
            clustering: true, // 可选
            clusterGravity: 50, // 可选
            maxIteration: 100, // 可选，迭代次数
            workerEnabled: true, // 可选，开启 web-worker
            gpuEnabled: true, // 可选，开启 GPU 并行计算，G6 4.0 支持
        }
    });

    //布局类型
    const layoutF = {
        type: 'force',
        preventOverlap: true,
        clustering: true,
        clusterNodeStrength: -50,
        clusterEdgeDistance: 2000,
        clusterNodeSize: 50,
        clusterFociStrength: 1.2,
        nodeSpacing: 5,
        alphaMin: 0.08, // 停止迭代阈值
        workerEnabled: false, // 可选，开启 web-worker
        gpuEnabled: true, // 可选，开启 GPU 并行计算，G6 4.0 支持
    };
    const layoutFruchterman = {
        type: 'fruchterman',
        center: [200, 200], // 可选，默认为图的中心
        gravity: 0.01, // 可选
        speed: 2, // 可选
        clustering: true, // 可选
        clusterGravity: 150, // 可选
        maxIteration: 100, // 可选，迭代次数
        workerEnabled: true, // 可选，开启 web-worker
        gpuEnabled: true, // 可选，开启 GPU 并行计算，G6 4.0 支持
    };
    const layoutFruchtermanNoCluster = {
        type: 'fruchterman',
        center: [200, 200], // 可选，默认为图的中心
        gravity: 0.01, // 可选
        speed: 2, // 可选
        clustering: true, // 可选
        clusterGravity: 50, // 可选
        maxIteration: 100, // 可选，迭代次数
        workerEnabled: true, // 可选，开启 web-worker
        gpuEnabled: true, // 可选，开启 GPU 并行计算，G6 4.0 支持
    };
    const layoutCombo = {
        type: 'comboForce',
        // workerEnabled和gpuEnabled中有一个是导致layout失败的罪魁祸首
        gpuEnabled: true,
        workerEnabled: false,
        center: [200, 200],     // 可选，默认为图的中心
        linkDistance: 1,         // 可选，边长
        nodeStrength: 100,         // 可选
        edgeStrength: 0.1,        // 可选
        depthRepulsiveForceScale: 10,
        gravity: 0.01, //影响布局的紧凑程度，越小布局越不容易重叠
        comboGravity: 100,
        // preventOverlap: true,
        comboCollideStrength: 0.7,
        comboSpacing: (d) => {
            // d is a combo
            return 1000;
        },
        // onTick: () => {           // 可选
        //     console.log('ticking');
        // },
        onLayoutEnd: () => {      // 可选
            console.log('combo force layout done');
        }
    };

    const layoutDagre = {
        type: 'dagre',
        sortByCombo: true,
        ranksep: 10,
        nodesep: 10,
        gpuEnabled: false,
        workerEnabled: false,
    };

    fetch('./static/dataWithWeight.json')
            .then((res) => res.json())
            .then((data) => {
                console.log("初始化数据获取")
                const clearStates = () => {
                    graph.getNodes().forEach((node) => {
                        graph.clearItemStates(node);
                    });
                    graph.getEdges().forEach((edge) => {
                        graph.clearItemStates(edge);
                    });
                };

                graph.data(data);
                graph.render();

                // 查找最短路径
                findPath(graph, data)

                louvainbutton.addEventListener('click', (e) => {
                    const clusteredData = louvain(data, false);
                    // console.log(clusteredData)
                    clusteredData.clusters.forEach((cluster, i) => {
                        const colorSet = colorSets[i % colorSets.length];
                        cluster.nodes.forEach((node) => {
                            const model = graph.findById(node.id).getModel();
                            model.style.fill = colorSet.mainFill
                            model.style.stroke = colorSet.mainStroke
                            data.nodes[node.id].cluster = i   //聚类算法后节点内自带聚类信息
                        });
                    });
                    graph.refresh();
                    graph.updateLayout(layoutFruchterman);
                });
            });

    //设置层次聚类全局变量
    var dataContent = null
    //层次聚类
    hierarchybutton.addEventListener('click', (e) => {
        // 使用Ajax进行层次聚类数据更新
        $(function () {
            $.getJSON('/cluster', {
                        num: $('input[name="clusterNum"]').val()
                    },
                    function (data) {
                        console.log("层次聚类数据获取成功")
                        // console.log(data.content)
                        dataContent = data.content
                        graph.data(dataContent)
                        // combo交互配置
                        graph.on('combo:mouseenter', (evt) => {
                            const {item} = evt;
                            graph.setItemState(item, 'active', false);
                        });
                        graph.on('combo:mouseleaver', (evt) => {
                            const {item} = evt;
                            graph.setItemState(item, 'active', false);
                        });
                        graph.combo((combo) => {
                            const colorSet = colorSets[parseInt(combo.id.replace("combo", "")) % colorSets.length]
                            return {
                                id: combo.id,
                                style: {
                                    fill: colorSet.mainFill,
                                    fillOpacity: 10,
                                },
                            };
                        });
                        graph.render();
                    });
            return false;
        });

    });
    //层次聚类布局
    showhierarchybutton.addEventListener('click', (e) => {
        $(function () {
            graph.updateLayout(layoutF);
            return false;
        });

    });

    //交互模式切换监听
    let fisheye = new G6.Fisheye({
        d: 3,
        r: 150,
        showLabel: false,
    });
    document.getElementById('selector').addEventListener('change', e => {
        const value = e.target.value;
        if (value === 'fisheyeMode') {
            fisheye = new G6.Fisheye({
                trigger: 'mousemove',
                d: 3,
                r: 150,
                // delegateStyle: clone(lensDelegateStyle),
                showLabel: false,
            });
            graph.setMode(value);
            graph.addPlugin(fisheye);
        } else {
            // 切换交互模式
            graph.setMode(value);
            graph.removePlugin(fisheye);
        }
    });

    restorebutton.addEventListener('click', (e) => {
        $(function () {
            $.getJSON('/restore', {},
                    function (data) {
                        console.log("还原数据获取成功")
                        // console.log(data.content)
                        dataContent = data.content
                        graph.data(dataContent)

                        graph.render();
                        graph.updateLayout(layoutFruchtermanNoCluster);
                    });
            return false;
        });
    });


</script>
</html>


