<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/cover.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">文学作品人物关系展示</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="/">主页</a></li>
                            <li class="active"><a href="/more">查看更多</a></li>
                            <li><a href="https://github.com/Yuasin/GP">Github</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h2>目前作品</h2>
                {% for book in test %}
                <a class="btn btn-lg btn-default" href="book{{ book }}">{{ book }}</a><p></p>
                {% endfor %}


                <h3>新增作品</h3>
                <form method=post enctype=multipart/form-data style="text-align: left;">
                    <div class="form-group">
                        <label for="bookname">书名</label>
                        <input type="text" name=bookname class="form-control" id="bookname" placeholder="射雕英雄传">
                    </div>
                    <div class="form-group">
                        <label for="book">作品原文</label><p></p>
                        <input type="file" name="corpus" id="book">
                        <p class="help-block">文件格式需为txt</p>
                    </div>
                    <div class="form-group">
                        <label for="namelist">人物列表</label>
                        <input type="file" name="namelist" id="namelist">
                        <p class="help-block">文件格式需为txt，一个角色一行，人物名称与别名之间可用横杠隔开，如黄药师-黄老邪</p>
                    </div>
                    <input type=submit class="btn btn-default" value=上传>
                </form>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Designed and built by <a href="https://github.com/Yuasin">Yangzhihui</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>