<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="mountNode"></div>
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-4.2.7/dist/g6.min.js"></script>

    <script>
      console.log(G6.Global.version);
    </script>
</body>
<script>
    // const tooltip = new G6.Tooltip({
    //   offsetX: 10,
    //   offsetY: 10,
    //   fixToNode: [1, 0.5],
    //   // the types of items that allow the tooltip show up
    //   // 允许出现 tooltip 的 item 类型
    //   itemTypes: ['node', 'edge'],
    //   // custom the tooltip's content
    //   // 自定义 tooltip 内容
    //   getContent: (e) => {
    //     const outDiv = document.createElement('div');
    //     outDiv.style.width = 'fit-content';
    //     outDiv.style.height = 'fit-content';
    //     const model = e.item.getModel();
    //     if (e.item.getType() === 'node') {
    //       outDiv.innerHTML = `${model.name}`;
    //     } else {
    //       const source = e.item.getSource();
    //       const target = e.item.getTarget();
    //       outDiv.innerHTML = `来源：${source.getModel().name}<br/>去向：${target.getModel().name}`;
    //     }
    //     return outDiv;
    //   },
    // });

    const graph = new G6.Graph({
        container: 'mountNode',
        width: 2000,
        height: 1200,
        fitView: true,
        fitViewPadding: [20, 40, 50, 20],
        // plugins: [tooltip],
        modes: {
            default: ['drag-canvas', 'zoom-canvas', 'drag-node', 'activate-relations' ], // 允许拖拽画布、放缩画布、拖拽节点
          },
        layout: {                     //布局图的参数
            type: 'concentric',
            center: [ 200, 200 ],     // 可选，
            linkDistance: 100,         // 可选，边长
            preventOverlap: true,     // 可选，必须配合 nodeSize
            nodeSize: 30,             // 可选
            sweep: 10,                // 可选
            equidistant: false,       // 可选
            startAngle: 0,            // 可选
            clockwise: false,         // 可选
            maxLevelDiff: 10,         // 可选
            sortBy: 'degree',         // 可选
            workerEnabled: true       // 可选，开启 web-worker
        }
      });
    const main = async () => {
        const response = await fetch(
            './static/data1.json',
            // 'https://gw.alipayobjects.com/os/basement_prod/6cae02ab-4c29-44b2-b1fd-4005688febcb.json',
        );
        const remoteData = await response.json();

        graph.data(remoteData); // 读取 Step 2 中的数据源到图上
        graph.render();
    };// 渲染图
    main();
</script>
</html>


