<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        layout: {                     //布局图的参数
            type: 'concentric',
            center: [ 200, 200 ],     // 可选，
            linkDistance: 100,        // 可选，边长
            preventOverlap: true,     // 可选，必须配合 nodeSize
            nodeSize: 30,             // 可选
            sweep: 10,                // 可选
            equidistant: false,       // 可选
            startAngle: 0,            // 可选
            clockwise: false,         // 可选
            maxLevelDiff: 10,         // 可选
            sortBy: 'degree',         // 可选
            workerEnabled: true       // 可选，开启 web-worker
        }
</body>
</html>