/*
 * Container
 */
.container-fluid {
    height: 100%;
}

.side-bar {
    height: 100%;
    background-color: #333;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

/*
控制面板
*/
.control-panel {
    background-color: rgba(0, 0, 155, 0.3);
    position: fixed;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid #999999;
    right: 0px;
    bottom: 0px
}

select {
    width: 100%;
    height: 40pt;
    line-height: 40pt;
    padding-right: 20pt;
    margin-top: 5px;
    text-indent: 4pt;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #94c1e7;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 10pt;
    font-weight: 300;
    color: RGBA(102, 102, 102, 0.7);
    cursor: pointer;
    outline: none;
}
